body {
	background-image: url(../images/bg.jpg);
	background-size: 100% auto;
	// background-attachment: fixed;
	color: #fff;
	font-size: 14px;
	font-family: 'PT Sans', sans-serif;
	overflow-y: initial;
	overflow-x: hidden;
}

::selection {
	color: #000;
	background: @gelb;
}


h1, h2, h3, h4, h5, h6 {
	position: relative;
	font-family: 'big_noodle_titling', Arial, sans-serif;
	color: @gelb;
}

h1 {
	color: white;
	text-shadow: 0.02em 0.03em 0.1em black;
	display: inline-block;
	padding: 0em 0.7em 0em 0em;
	line-height: 1.5em;

	&:before {
		position: absolute;
		z-index: -1;
		left: -0.3em;
		right: 0.2em;
		top: -0.1em;
		bottom: -0.2em;
		content: "";
		background-image: url(../images/brushes/4.png);
		background-blend-mode:lighten;
		background-size: 100% 100%;
		background-repeat: no-repeat;
	}
}

h3 {
	color: white;

	&:after {
		content: " __";
		color: @gelb;
	}
}

a.link, a.link:active, a.link:visited {
	display: inline-block;
	color: @gelb;
	padding: 0.1em 0.2em;
	border-radius: 2px;
	.transition;

	&:hover {
		text-decoration: none;
		background-color: @gelb;
		color: #000;
	}
}

.nobr {
	white-space: nowrap;
}

.gelb {
	color: @gelb;
}


p.initial {
	&:first-of-type {
		&:first-letter {
			color: @gelb;
			font-size: 4em;
			float: left;
			line-height: 1.3em;
			font-family: "321impact", Impact;
			margin: 0 0.1em -0.5em 0;
		}
	}
	&:first-letter {
		color: inherit;
		font-size: inherit;
		float: inherit;
		line-height: inherit;
		font-family: inherit;
		margin: inherit;
	}
}

.email {
	display: inline-block;
	white-space: nowrap;
	color: @gelb;
	user-select: none;
	.transition;
	padding: 0.1em 0.2em;
	border-radius: 3px;
	cursor: pointer;

	&:before {
		content: '\2709';
		position: relative;
		top: 1px;
		display: inline-block;
		font-family: 'Glyphicons Halflings';
		font-style: normal;
		font-weight: normal;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		margin-right: 0.3em;
		font-size: 0.8em;
	}


	&:after {
		content: '@rocktreff.de';
	}

	&[domain]:after {
		content: '@' attr(domain);
	}

	&:hover {
		background-color: @gelb;
		color: #000;
	}
}
