.page.press, .press-page {
	background-image: url( '../images/bg_press.jpg' );

	.pressreleases {
		margin-top: 2em;
		list-style: none;
		padding-left: 0;

		.date {
			width: 6em;
			color: #fff;
			display: inline-block;
			text-align: left;
			font-size: 0.85em;

			a {
				margin-left: 6em;
			}
		}
	}
}

.press-page {

	.pressreleases .date {
		display: none;
	}
}
