<!DOCTYPE html>
<!--
______ _____ _____  _   _____________ _________________
| ___ \  _  /  __ \| | / /_   _| ___ \  ___|  ___|  ___|
| |_/ / | | | /  \/| |/ /  | | | |_/ / |__ | |_  | |_
|    /| | | | |    |    \  | | |    /|  __||  _| |  _|
| |\ \\ \_/ / \__/\| |\  \ | | | |\ \| |___| |   | |
\_| \_|\___/ \____/\_| \_/ \_/ \_| \_\____/\_|   \_|
-->
<html lang="de-DE">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="theme-color" content="#fff300">
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    {{ partial "opengraph.html" . }}
    {{- $css := resources.Get "css/main.css" | css.PostCSS | fingerprint -}}
    <link rel="stylesheet" href="{{ $css.RelPermalink }}">
    <link rel="icon" href="/favicon.ico">
</head>

<body class="page{{ with .Params.bodyClass }} {{ . }}{{ end }}">
    {{ partial "navigation.html" (dict "Page" .) }}
    <div class="content-wrap">
        <div class="centered">
            <div class="box top">
                <h1>{{ .Title }}</h1>
                {{ .Content }}
            </div>
        </div>
    </div>
    {{- $js := resources.Get "js/main.js" | js.Build | fingerprint -}}
    <script src="{{ $js.RelPermalink }}"></script>
</body>

</html>
