{{ $year := site.Params.currentYear }}
{{ $ende := time.AsTime site.Params.bewerbungEnde }}
<div class="teaser">
    <h3>Eure Band beim ROCKTREFF {{ $year }}?</h3>
    <p>
        Bis zum {{ $ende | time.Format "02.01.2006" }} konnten sich Bands bei uns online bewerben.
    </p>
    <p>
    <h2>
        Vielen Dank für die zahlreichen Bewerbungen!
    </h2>
    </p>
    <p>
        Bewerbungen für {{ add $year 1 }} sind ab November und ausschließlich über diese Website möglich.
    </p>
    <p>
        Das Lineup für den Rocktreff {{ $year }} veröffentlichen wir hier in Kürze!
    </p>
    <p>
        Fragen? Schreib eine Mail an <span class="email">booking</span>.
    </p>
</div>
