{{- $currentYear := .Site.Params.currentYear -}}
{{- $allBands := where .Site.RegularPages "Type" "bands" -}}
{{- $bands := where $allBands "Params.year" $currentYear -}}
{{- $bands = sort $bands "Params.stagetime" -}}
<div class="lineup-grid dates">
    <div></div>
    <div>
        <span class="hide-portrait">
            Freitag, 3. Juli
        </span>
        <span class="show-portrait">
            Fr, 3.7.
        </span>
    </div>
    <div>
        <span class="hide-portrait">
            Samstag, 4. Juli
        </span>
        <span class="show-portrait">
            Sa, 4.7.
        </span>
    </div>
    <div>
        <span class="hide-portrait">
            Sonntag, 5. Juli
        </span>
        <span class="show-portrait">
            So, 5.7.
        </span>
    </div>
</div>
<div class="lineup-grid">
    <div class="lineup-times">
        <div class="timeslot">16:00</div>
        <div class="timeslot">17:00</div>
        <div class="timeslot">18:00</div>
        <div class="timeslot">19:00</div>
        <div class="timeslot">20:00</div>
        <div class="timeslot">21:00</div>
        <div class="timeslot">22:00</div>
        <div class="timeslot">23:00</div>
    </div>
    <div class="day friday">
        {{ partial "lineup-day.html" (dict "bands" $bands "dayString" "Freitag") }}
    </div>
    <div class="day saturday">
        {{ partial "lineup-day.html" (dict "bands" $bands "dayString" "Samstag") }}
    </div>
    <div class="day sunday">
        {{ partial "lineup-day.html" (dict "bands" $bands "dayString" "Sonntag") }}
    </div>
</div>
