{{- $bands := .bands -}}
{{- $dayString := .dayString -}}
{{ range $bands }}
{{ if in .Params.stagetime $dayString }}
{{- $parts := split .Params.stagetime ", " -}}
{{- $timePart := index $parts (sub (len $parts) 1) -}}
{{- $timeStr := index (split $timePart " ") 0 -}}
{{- $hour := int (index (split $timeStr ":") 0) -}}
{{- $row := sub $hour 15 -}}
{{- $bandImg := cond (ne .Params.picture "") (resources.Get (printf "bands/pictures/%s" .Params.picture)) nil -}}
{{- $style := "" -}}
{{- if $bandImg -}}
  {{- $style = printf "grid-row:%d;background-image:%s" $row (partial "img/image-set.html" (dict "src" $bandImg "width" 600)) -}}
{{- end -}}
<a href="{{ .RelPermalink }}" class="thumb"
    {{ if $style }}style="{{ $style | safeCSS }}"{{ end }}>
    <div class="name">{{ .Title }}</div>
</a>
{{ end }}
{{ end }}
