<section class="slide verboten_info">
    <div class="content-wrap verbote">
        <h2>
            Aus Sicherheits- und Versicherungsrelevanten Gründen ist die Mitnahme der folgenden Gegenstände
            nicht gestattet
        </h2>
        {{ partial "img/picture.html" (dict "src" "images/rt_verbote.png") }}
        <p>
            Ebenfalls verboten sind Waffen, Pyrotechnik, Laser Pointer, Drohnen,
            Lärminstrumente (Megaphone, Handsiren, Gasdruckfanfahren, Lautsprecher),
            Fahnen, Transparente, Banner und Drogen. Der Rocktreff ist ein sicher
            Ort für jede Ethnie, jedes Geschlecht und jede sexuelle Orientierung:
            Rassismus, Sexismus oder Homophobie wird bei uns nicht toleriert und
            kann zum Hausverbot führen.
        </p>
    </div>
</section>
<section class="slide verboten">
    <div class="bg">
        <div class="image masked"></div>
    </div>
</section>
