<div class="teaser">
  <h3>Eure Band beim ROCKTREFF 2023?</h3>
  <p>
    Bis zum 31.01.2023 konnten sich Bands bei uns online bewerben.
  </p>
  <p>
    <h2>
        Vielen Dank für die zahlreichen Bewerbungen!
    </h2>
  </p>
  <p>
    Bewerbungen für 2024 sind ab November und ausschließlich über diese Website möglich.
  </p>
  <p>
    Das Lineup für den Rocktreff 2023 veröffentlichen wir hier in Kürze!
  </p>
  <p>
    Fragen? Schreib eine Mail an <span class="email">booking</span>.
  </p>
</div>
