<div class="row dates">
	<div class="col-xs-2"></div>
	<div class="col-xs-3">
		<span class="hidden-xs-portrait">
			Freitag, 1. Juli
		</span>
		<span class="visible-xs-portrait">
			Fr, 1.7.
		</span>
	</div>
	<div class="col-xs-3">
		<span class="hidden-xs-portrait">
			Samstag, 2. Juli
		</span>
		<span class="visible-xs-portrait">
			Sa, 2.7.
		</span>
	</div>
	<div class="col-xs-3">
		<span class="hidden-xs-portrait">
			Sonntag, 3. Juli
		</span>
		<span class="visible-xs-portrait">
			So, 3.7.
		</span>
	</div>
</div>
<div class="row">
	<div class="col-xs-2">
		<div class="timeslot">16:00</div>
		<div class="timeslot">17:00</div>
		<div class="timeslot">18:00</div>
		<div class="timeslot">19:00</div>
		<div class="timeslot">20:00</div>
		<div class="timeslot">21:00</div>
		<div class="timeslot">22:00</div>
		<div class="timeslot">23:00</div>
	</div>
	{% assign bands = site.bands | where: 'year', 2022 | sort: 'stagetime'  %}
	<div class="col-xs-3 day friday">
		{% for band in bands %}
			{% if band.stagetime contains 'Freitag' %}
			<a href="{{ band.url }}" class="thumb" style="background-image:url('https://static.rocktreff.de/bands/pictures/{{ band.picture }}')">
				<div class="name">{{ band.title }}</div>
			</a>
			{% endif %}
		{% endfor %}
	</div>
	<div class="col-xs-3 day saturday">
		{% for band in bands  %}
			{% if band.stagetime contains 'Samstag' %}
			<a href="{{ band.url }}" class="thumb" style="background-image:url('https://static.rocktreff.de/bands/pictures/{{ band.picture }}')">
				<div class="name">{{ band.title }}</div>
			</a>
			{% endif %}
		{% endfor %}
	</div>
	<div class="col-xs-3 day sunday">
		{% for band in bands %}
			{% if band.stagetime contains 'Sonntag' %}
			<a href="{{ band.url }}" class="thumb" style="background-image:url('https://static.rocktreff.de/bands/pictures/{{ band.picture }}')">
				<div class="name">{{ band.title }}</div>
			</a>
			{% endif %}
		{% endfor %}
	</div>
</div>
