<nav id="navigation" {% if include.attribs %}{{include.attribs}}{% endif %}>
  <ul class="nav hidden-xs">
    <li><a href="/"></a><li>
    <li><a href="/#lineup">Lineup</a></li>
    <li><a href="/#sponsors">Sponsoren</a></li>
    <li><a href="/#spielfest">Spielfest</a></li>
    <li><a href="/presse">Presse</a></li>
    <li><a href="/helfen">Helfen</a></li>
    <li><a href="/#impressum">Impressum</a></li>
    <li class="social"><a target="_blank" href="https://twitter.com/ROCKTREFF"><i class="icon-twitter"></i></a></li>
    <li class="social"><a target="_blank" href="https://www.youtube.com/user/ROCKTREFF"><i class="icon-youtube"></i></a></li>
    <li class="social"><a target="_blank" href="https://flickr.com/photos/rocktreff"><i class="icon-flickr"></i></a></li>
    <li class="social"><a target="_blank" href="https://www.facebook.com/ROCKTREFF"><i class="icon-facebook"></i></a></li>
  </ul>
  <ul class="nav menu visible-xs">
    <li><a href="/"></a><li>
    <li class="pull-right">
      <span class="glyphicon glyphicon-menu-hamburger"></span>
    </li>
  </ul>
  <div class="nav-small visible-xs">
      <ul class="nav">
        <li><a href="/"></a><li>
        <li><a href="/#lineup">Lineup</a></li>
        <li><a href="/#sponsors">Sponsoren</a></li>
        <li><a href="/#spielfest">Spielfest</a></li>
        <li><a href="/presse">Presse</a></li>
        <li><a href="/helfen">Helfen</a></li>
        <li><a href="/#imprint">Impressum</a></li>
        <li class="social"><a target="_blank" href="https://twitter.com/ROCKTREFF"><i class="icon-twitter"></i></a></li>
        <li class="social"><a target="_blank" href="https://www.youtube.com/user/ROCKTREFF"><i class="icon-youtube"></i></a></li>
        <li class="social"><a target="_blank" href="https://flickr.com/photos/rocktreff"><i class="icon-flickr"></i></a></li>
        <li class="social"><a target="_blank" href="https://www.facebook.com/ROCKTREFF"><i class="icon-facebook"></i></a></li>
      </ul>
  </div>
</nav>
<script type="text/javascript">
  var $xsMenu = $( '.nav-small' )
  $( '.nav.visible-xs .glyphicon-menu-hamburger, .nav a' )
    .on( 'click', function () {
      $xsMenu.toggleClass( 'in' )
    })
</script>
