<nav id="navigation" {% if include.attribs %}{{include.attribs}}{% endif %}>
    <ul class="nav desktop-only">
        <li><a href="/"></a></li>
        <li><a href="/#bands">Bands</a></li>
        <li><a href="/#sponsors">Sponsoren</a></li>
        <li><a href="/#spielfest">Spielfest</a></li>
        <li><a href="/#helfen">Helfen</a></li>
        <li><a href="/#veranstalter">Veranstalter</a></li>
        <li class="social right"><a target="_blank" href="https://www.youtube.com/user/ROCKTREFF"><i class="icon-youtube"></i></a></li>
        <li class="social right"><a target="_blank" href="https://twitter.com/ROCKTREFF"><i class="icon-twitter"></i></a></li>
        <li class="social right"><a target="_blank" href="https://www.facebook.com/ROCKTREFF"><i class="icon-facebook"></i></a></li>
    </ul>
    <ul class="nav menu-toggle mobile-only">
        <li><a href="/"></a></li>
        <li class="nav-hamburger">&#9776;</li>
    </ul>
    <div class="nav-small mobile-only">
        <ul class="nav">
            <li><a href="/#bands">Bands</a></li>
            <li><a href="/#sponsors">Sponsoren</a></li>
            <li><a href="/#spielfest">Spielfest</a></li>
            <li><a href="/#helfen">Helfen</a></li>
            <li><a href="/#veranstalter">Veranstalter</a></li>
            <li class="social right"><a target="_blank" href="https://www.youtube.com/user/ROCKTREFF"><i class="icon-youtube"></i></a></li>
            <li class="social right"><a target="_blank" href="https://twitter.com/ROCKTREFF"><i class="icon-twitter"></i></a></li>
            <li class="social right"><a target="_blank" href="https://www.facebook.com/ROCKTREFF"><i class="icon-facebook"></i></a></li>
        </ul>
    </div>
</nav>
