	<meta property="og:title" content="ROCKTREFF 2020 - Open Air Festival" />
	<meta property="og:site_name" content="ROCKTREFF"/>
	<meta property="og:url" content="https://rocktreff.de{{page.url}}"/>
	<meta property="og:type" content="website"/>
	<meta property="og:image" content="https://rocktreff.de/images/og_image.jpg" />
	<meta property="og:description" content="Der jährlich im Volksparkstadion Mariendorf stattfindende ROCKTREFF ist ein Open Air Festival, das sich ganz der handgemachten Musik verschrieben hat. Hier werden die Gitarren ausgepackt, die Verstärker hochgeregelt und gemeinsam das Haupthaar geschüttelt." />
