---
permalink: /bands/
---
<!DOCTYPE html>
<!--
______ _____ _____  _   _____________ _________________
| ___ \  _  /  __ \| | / /_   _| ___ \  ___|  ___|  ___|
| |_/ / | | | /  \/| |/ /  | | | |_/ / |__ | |_  | |_
|    /| | | | |    |    \  | | |    /|  __||  _| |  _|
| |\ \\ \_/ / \__/\| |\  \ | | | |\ \| |___| |   | |
\_| \_|\___/ \____/\_| \_/ \_/ \_| \_\____/\_|   \_|
-->
<html lang="de-DE">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <title>Alle Bands | ROCKTREFF</title>
  <link rel="stylesheet" type="text/css" href="/styles/main.css">
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <link rel="stylesheet" href="/vendor/fancybox/source/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"/></script>
</head>
<body class="page band">
  {% include navigation.html%}
  <div class="container">
    <div class="row">
      <div class="col-xs-8">
        <div class="box top bandhistory">
          <div>
            <h3>... 1984</h3>
            mehr als 350 weitere Bands
          </div>
          {% for band in site.bands | sort: 'year' %}
            {% capture currentyear %}{{band.year}}{% endcapture %}
            {% if currentyear != year %}
              {% unless forloop.first %}</ul></div>{% endunless %}
              <div>
                <h3>{{ currentyear }}</h3>
                <ul class="lineup">
              {% capture year %}{{currentyear}}{% endcapture %}
            {% endif %}
              <li><a class="link" href="{{ band.url }}">{{ band.title }}</a></li>
          {% endfor %}
          </ul>
          </div>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="box top">
          <h1>33 Jahre Erinnerungen!</h1>
          <p>
            Der ROCKTREFF hat in seinen 33 Jahren weit über 2000 Musikern in
            etwa 500 Bands eine Bühne geboten. Für viele war oder ist es das
            erste Mal auf einer großen Bühne in einem Stadion zu stehen.
          </p>
          {% flickr 72157665354921400 %}
        </div>
      </div>
    </div>
  </div>
<script type="text/javascript" src="/vendor/fancybox/source/jquery.fancybox.pack.js?v=2.1.5"></script>
<script type="text/javascript" src="/js/main.js"/></script>
</body>
</html>
