---
permalink: '/'
---
<!DOCTYPE html>
<!--
______ _____ _____  _   _____________ _________________
| ___ \  _  /  __ \| | / /_   _| ___ \  ___|  ___|  ___|
| |_/ / | | | /  \/| |/ /  | | | |_/ / |__ | |_  | |_
|    /| | | | |    |    \  | | |    /|  __||  _| |  _|
| |\ \\ \_/ / \__/\| |\  \ | | | |\ \| |___| |   | |
\_| \_|\___/ \____/\_| \_/ \_/ \_| \_\____/\_|   \_|
-->
<html lang="de-DE">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<title>ROCKTREFF 2017 | 7.-9. Juli 2017 | Eintritt frei | Open Air Festival im Fußballstadion Volksparkstadion Mariendorf</title>
	<meta property="og:title" content="ROCKTREFF 2017 - Open Air Festival" />
	<meta property="og:site_name" content="ROCKTREFF"/>
	<meta property="og:url" content="https://rocktreff.de{{page.url}}"/>
	<meta property="og:type" content="website"/>
	<meta property="og:image" content="https://rocktreff.de/images/og_image.jpg" />
	<meta property="og:description" content="Der jährlich im Volksparkstadion Mariendorf stattfindende ROCKTREFF ist ein Open Air Festival, das sich ganz der handgemachten Musik verschrieben hat. Hier werden die Gitarren ausgepackt, die Verstärker hochgeregelt und gemeinsam das Haupthaar geschüttelt." />
	<link rel="icon" type="image/x-icon" href="./favicon.ico" />
	<link rel="stylesheet" type="text/css" href="styles/main.css">
	<link rel="stylesheet" href="/vendor/fancybox/source/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"/></script>
</head>
<body data-offset="0" data-target="#navigation" style="background:#000">
<div id="skrollr-body">
	{% include navigation.html attribs="data-top=\"margin-top:-100px;\" data--650-top=\"margin-top:0px;\" data-anchor-target=\"#slide_landing\""%}




	<!-- landing splash -->
	<section class="slide landing" id="slide_landing">

		<div class="video-bg hidden-xs"
			data-top="top:0%;";
			data-top-bottom="top:50%;"
			data-anchor-target="#slide_landing"
		>
			<video preload="auto" muted="muted" loop="loop" canplay="false" autoplay="autoplay" poster="https://static.rocktreff.de/video/rocktreff_web_2000k.jpg">
				<source src="https://static.rocktreff.de/video/rocktreff_web_2000k.mp4" type="video/mp4">
			</video>
		</div>

		<div class="mobil-bg visible-xs"
			data-top="top:0%;";
			data-top-bottom="top:50%;"
			data-anchor-target="#slide_landing"
		>
		</div>

		<div class="scrolldown"
			data-top="opacity:1;"
			data--100-top="opacity:0;"
			data-anchor-target="#slide_landing"
		>
			<span class="glyphicon glyphicon-chevron-down"></span></a>
		</div>

		<div class="logo"
			data-top="opacity:1;"
			data--400-top="opacity:0;"
			data-anchor-target="#slide_landing"
		>
			<img src="./images/rt.png">
		</div>

		<div class="presenter"
			data--120-bottom="opacity:1;";
			data--400-bottom=="opacity:0;"
			data-anchor-target="#slide_landing"
		>
			<div class="presented_by">
				<span class="hidden-xs">präsentiert von</span>
			</div>
			{% for sponsor in site.data.sponsors %}
				{% if sponsor.presenter %}
				<a href="{{ sponsor.url }}" target="_blank">
					<img src="https://static.rocktreff.de/sponsors/{{sponsor.image}}">
				</a>
				{% endif %}
			{% endfor %}
		</div>

		<div class="info visible-xs">
			<!--h1 class="live"><a href="http://live.rocktreff.de">Livestream</a></h1-->
		</div>

		<div class="info hidden-xs">
			<!--h1 class="live"><a href="http://live.rocktreff.de">Livestream</a></h1-->
			<h1>Eintritt Frei!</h1>
			<h2>7.-9. Juli 2017<h2>
			<h3>Volkspark Mariendorf</h3>
			<div class="box"></div>
		</div>

		<div class="footer"
			data-top="opacity:1;"
			data--100-top="opacity:0;"
			data-anchor-target="#slide_landing"
		>
			<a class="link" href="#veranstalter">Veranstalter</a>
		</div>

	</section>




	<section class="slide lineup" id="bands">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-md-push-8">
					<h1>Bewerbung 2017</h1>
					<p>
						Der jährlich im Volksparkstadion Mariendorf stattfindende
						ROCKTREFF ist ein Open Air Festival, das sich ganz der
						handgemachten Musik verschrieben hat. Hier werden die
						Gitarren ausgepackt, die Verstärker hochgeregelt und
						gemeinsam das Haupthaar geschüttelt. Ziel des ROCKTREFFs
						ist es, Amateurbands eine geeignete Bühne zu bieten, sich
						einem größtmöglichen Publikum zu präsentieren und auf der
						anderen Seite einer breiten Öffentlichkeit ein kostenloses
						Event zu bieten. Das ROCKTREFF Open Air gilt als das
						größte Amateurbandfestival Berlins.
					</p>
					<p>
						Ab dem 11. November können sich wieder alle Bands auf dieser Seite
						für den kommenden ROCKTREFF anmelden.
					</p>
					<p>
						<a href="/bands">Übersicht aller Bands</a>
					</p>
				</div>
				<div class="col-md-8 col-md-pull-4 teaser">

				</div>
			</div>
		</div>
	</section>





	<section class="slide second" id="slide_second">
		<div class="bg"
			data-bottom-top="top:-50%;"
			data-top-bottom="top:50%;";
			data-anchor-target="#slide_second"
		><div class="image"></div></div>
	</section>






	<section class="slide map">
		<a name="map"></a>
		<div class="container approach">
			<div class="row">
				<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
					<h1>Anfahrt</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-5 col-sm-offset-1 col-md-4 col-md-offset-2">
					<p>
						Der Volkspark befindet sich direkt am Mariendorfer
						Damm zwischen den U-Bahnhöfen Alt-Mariendorf und
						Westphalweg. Wir empfehlen in jedem Fall die Anfahrt
						mit der BVG, da nur sehr begrenzt Parkplätze vorhanden
						sind.
					</p>
					<dt>Adresse</dt>
					<dd>Prühßstraße 90, 12109 Berlin-Tempelhof</dd>
				</div>
				<div class="col-xs-12 col-sm-5 col-md-4">
					<dt>BVG-Anbindung</dt>
					<dd>
						<p>
							<span class="nobr bvg u6">U6</span> Alt-Mariendorf</br>
							<span class="nobr bvg bus">181</span>
							<span class="nobr bvg mbus">M76</span>
							<span class="nobr bvg bus">179</span>
							<span class="nobr bvg bus">277</span>
							<span class="nobr bvg xbus">X76</span>
							<span class="nobr bvg mbus">M77</span>
						</p>
						<p>
							<span class="nobr bvg u6">U6</span> Westphalweg</br>
							<span class="nobr bvg bus">282</span>
						</p>
					</dd>
				</div>
			</div>
		</div>
		<div class="noscroll">
			<iframe
				src="https://www.openstreetmap.org/export/embed.html?bbox=13.384330272674559%2C52.43943940263717%2C13.406345844268799%2C52.44794096541378&amp;layer=mapquest&amp;marker=52.44369038910433%2C13.39533805847168"
				width="100%" height="400" frameborder="0" style="border:0;pointer-events:none" scrolling="no"
			></iframe>
		</div>
		<script type="text/javascript">
			var onMapMouseleaveHandler = function ( event ) {
				var self = $( this )
				self.on( 'click', onMapClickHandler )
				self.off( 'mouseleave', onMapMouseleaveHandler )
				self.find( 'iframe' ).css( 'pointer-events' , 'none' )
			}
			var onMapClickHandler = function ( event ) {
				var self = $( this )
				self.off( 'click', onMapClickHandler )
				self.find( 'iframe' ).css( 'pointer-events', 'auto' )
				self.on( 'mouseleave', onMapMouseleaveHandler )
			}
			$( '.slide.map .noscroll' ).on( 'click', onMapClickHandler )
		</script>
	</section>





	<section class="slide sponsors" id="sponsors">
		<div class="container sponsors">
			<div class="row col-lg-12">
				<h1>Sponsoren</h1>
			</div>
			<div class="row">
				<div class="col-lg-7">
					<p>
						Das der ROCKTREFF auch im 33. Jahr noch für den
						Besucher bei freiem Eintritt stattfinden kann, ist
						wohl vor allem dem Verdienst der vielen ehrenamtlichen
						Helfer und Bands, die ohne Gage auftreten, zu
						verdanken. Nur ein kleiner Teil des gesamten
						benötigten Budgets wird vom Jugendamt Tempelhof-
						Schöneberg getragen. Den Großteil des Etats für das
						dreitägige Open Air stellen die akquirierten
						Sponsoren.
					</p>
				</div>
				<div class="main col-lg-5">
					{% for sponsor in site.data.sponsors %}
						{% if sponsor.main %}
						<a href="{{ sponsor.url }}" target="_blank">
							<img src="https://static.rocktreff.de/sponsors/{{sponsor.image}}">
						</a>
						{% endif %}
					{% endfor %}
				</div>
			</div>
			<div class="row">
				<div class="other col-lg-12">
					<h3>Weitere Sponsoren</h3>
					{% for sponsor in site.data.sponsors %}
						{% unless sponsor.presenter %}
						{% unless sponsor.main %}
						<a href="{{ sponsor.url }}" target="_blank">
							<img src="https://static.rocktreff.de/sponsors/{{sponsor.image}}">
						</a>
						{% endunless %}
						{% endunless %}
					{% endfor %}
				</div>
			</div>
		</div>
	</section>





	<section class="slide spielfest" id="spielfest">
		<div class="bg"
			data-bottom-top="top:-50%;"
			data-top-bottom="top:50%;";
			data-anchor-target="#spielfest"
		><div class="image"></div></div>
		<div class="logo"></div>
		<div class="silhouetten"></div>
	</section>





	<section class="slide spielfest_info">
		<div class="container">
			<div class="col-sm-8 col-sm-offset-2">
				<p>
					Im Rahmen des ROCKTREFFs findet auf dem selben Gelände am
					Samstag und Sonntag von 12:00 Uhr bis 18:00 Uhr das
					Spielfest statt. Die Kleinsten der Rocker können sich bei
					zahlreichen tollen Attraktionen austoben, während ihren
					Eltern ein buntes Angebot an Gastronomie und Kunsthandwerk
					geboten wird. Die Schirmherrin des Spielfestes ist die
					Bezirksbürgermeisterin Frau Angelika Schöttler.
					<a class="link" href="http://spielfest-mariendorf.de/" target="_blank">Mehr Infos …</a>
				</p>
			</div>
		</div>
	</section>


	<section class="slide spielfest_sponsors">
		<img src="https://static.rocktreff.de/sponsors/moebel_kraft.png">
		<img src="https://static.rocktreff.de/sponsors/stromnetz_berlin.png">
	</section>




	<section class="slide foo" id="slide_foo">
		<div class="bg"
			data-bottom-top="top:-50%;"
			data-top-bottom="top:50%;";
			data-anchor-target="#slide_foo"
		><div class="image"></div></div>
	</section>


	<section class="slide helfen" id="helfen">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h1>Der ROCKTREFF braucht Hilfe!</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<p>
						Der ROCKTREFF ist ein nicht-kommerzielles Festival, das sich
						ausschließlich mit Zuwendungen, Sponsoren und der Hilfe von
						ehrenamtlichen Helfern trägt. Deswegen sind wir jedes Jahr aufs
						neue darauf angewiesen, dass uns zahlreich Leute helfen. Alle
						Bands und Künstler treten ohne Gage auf. Die Crew ackert mit bis
						zu 60 Leuten teils monatelang ebenfalls ohne Bezahlung, aber
						mit viel Spaß an der Sache. <a class="link" href="https://www.flickr.com/photos/rocktreff/albums/72157658561531956/" target="blank">Hier die Bilder der Crew 2015</a>.
					</p>

				</div>
				<div class="col-sm-2">
					<div class="flickr gallery">
						<a class="fancybox" rel="group" href="https://static.rocktreff.de/crew/crew2016.jpg">
							<img src="https://static.rocktreff.de/crew/crew2016.jpg" style="width:100%;height:auto">
						</a>
					</div>
				</div>
				<div class="col-sm-4">
					<iframe src="https://www.youtube.com/embed/ZkRsYGko_A0?wmode=transparent&fs=1&hl=en&modestbranding=1&iv_load_policy=3&showsearch=0&rel=1&theme=dark" frameborder="0" allowfullscreen style="height:12em;"></iframe>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4">

					<h3>Du willst mitmachen?</h3>
					<p>
						Der ROCKTREFF bietet viele Möglichkeiten sich zu engagieren
						und dabei den eigenen Horizont zu erweitern. Neben den
						klassischen Tätigkeitsbereichen wie Licht &amp; Ton suchen wir
						immer Leute für Bandbetreuung, Catering und viele weitere
						Bereiche.
					</p>
					<p>
						Für die Helfer beginnt der ROCKTREFF bereits viele Tage vor der
						Veranstaltung. Wir errichten eine komplette kleine Stadt, die
						für die ROCKTREFF-Woche auch unser Zuhause ist.
					</p>
					<p>
						Interesse? Dann schreib eine Mail an
						<span class="email">helfen</span>
					</p>
				</div>
				<div class="col-sm-4">
					<h3>Sponsor werden</h3>
					<p>
						Das Bezirksamt Tempelhof-Schöneberg von Berlin finanziert etwa
						20% der Kosten für Technik und Ausstattung. Den weitaus
						größerer Teil müssen wir aus Zuwendungen von Sponsoren
						akquirieren. Hilf uns dabei!
					</p>
					<p>
						Sponsoring-Interessierte kontaktieren bitte für Details den
						Veranstaltungskoordinator Ed Koch via Mail an
						<span class="email" domain="berlin.de">jugendamt.ts-vm</span>
					</p>
				</div>
				<div class="col-sm-4">
					<h3>Spenden</h3>
					Eine Überweisung auf unser Konto ist uns die liebste Form, da sie keinerlei zusätzliche Gebühren aufwirft.
					<div class="code">
						<a href="bank://singlepaymentsepa?name=CPYE%20e.%20V.&reason=Spende%20ROCKTREFF&iban=DE51100100100015333103&bic=PBNKDEFF&amount=23%2C00">
						<img src="/images/bezahlcode.png" class="bezahlcode">
						</a>
					</div>
					<strong>Inhaber:</strong> CPYE e.V. <br>
					<strong>Konto:</strong> 15 333 103 (Postbank Berlin) <br>
					<strong>BLZ:</strong> 100 100 10 <br>
					<strong>IBAN:</strong> DE51100100100015333103 <br>
					<strong>BIC:</strong> PBNKDEFF <br>
					<strong>Zweck:</strong> Spende ROCKTREFF
					<p>
						Ab 100€ stellen wir gerne eine Spendenquittung aus. Schreibe dazu bitte eine Mail
						an <span class="email" domain="rocktreff.de">spenden</span>
					</p>
				</div>
			</div>
		</div>
	</section>


	<section class="slide last" id="slide_last">
		<div class="bg"
			data-bottom-top="top:-50%;"
			data-top-bottom="top:50%;";
			data-anchor-target="#slide_last"
		><div class="image"></div></div>
	</section>



	<section class="slide footer" id="veranstalter">
		<div class="container imprint">
			<div class="row">
				<div class="col-sm-10 col-sm-offset-2">
					<h1>Veranstalter</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4 col-sm-offset-2 imprint">

					<dl>
						<dd>
							Bezirksamt Tempelhof-Schöneberg von Berlin <br>
							Abteilung Jugend, Ordnung, Bürgerdienste <br>
							Jugendamt – Jug VM - Veranstaltungsmanagement <br>
							Strelitzstraße 15 <br>
							12105 Berlin <br>
							<i class="icon-phone"></i> +49 30 90277 4804 <br>
							<i class="icon-phone"></i> +49 30 705 25 11 <br>
							<span class="email" domain="berlin.de">jugendamt.ts-vm</span><br>
							Inhaltlich Verantwortlicher gem. § 55 RStV: <br>
							Bezirksstadtrat Oliver Schworck
						</dd>
						<dt>Beauftragter des Jugendamtes für Veranstaltungsmanagement und Social Sponsoring</dt>
							<dd>
								Ed Koch (kommissarisch) <br>
								<i class="icon-phone"></i> +49 170 626 7377
							</dd>
					</dl>
				</div>
				<div class="col-sm-4 imprint">
					<dl>
						<dt>Träger der Veranstaltung<dt>
							<dd>
								CPYE e.V.<br>
								Viktoriastraße 13 – 12105 Berlin <br>
								verantwortlich: Andie Kraft, Vorsitzender
							</dd>
						<dt>Kooperationspartner</dt>
							<dd>
								ROCK-INI Tempelhof <br>
								Catering Company
							</dd>
						<dt>Technische Veranstaltungsleitung</dt>
							<dd>
								Sven Perschmann
							</dd>
						<dt>Kontakt</dt>
							<dd>
								<span class="email">kontakt</span>
							</dd>
					</dl>

				</div>
			</div>
			<div style="text-align:center;margin-top:2em">
				<a href="http://www.bruecken-bauen.info/" target="_blank">
					<img src="https://static.rocktreff.de/sponsors/jugendamt.png" width="200" alt="Jugendamt">
				</a>
				<img src="images/footer_rockini.png" alt="ROCK-INI">
				<a href="http://www.cpye.de/" target="_blank">
					<img src="https://static.rocktreff.de/sponsors/cpye.png" alt="CPYE e.V.">
				</a>
			</div>
		</div>

	</section>
</div>
<script type="text/javascript" src="vendor/skrollr/dist/skrollr.min.js"></script>
<script type="text/javascript" src="/vendor/fancybox/source/jquery.fancybox.pack.js?v=2.1.5"></script>
<script type="text/javascript" src="js/main.js"/></script>
</body>
</html>
